/* General CSS settings */

:root {
  --bg-color: #141414;
  --text-color: #c7c7c7;
  --hover-color: #41994d;
}

body {
  font-family: "M PLUS 1 Code", Roboto, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  padding-top: 50px;
}
h3 {
  text-align: center;
}

.nav-item:hover {
  background-color: var(--hover-color);
}

/* Navbar Icons */

.material-icons {
  font-size: 20px;
}

/* Navbar Toggler customization */
