/* General CSS settings */

:root {
  --bg-color: #141414;
  --text-color: #c7c7c7;
  --hover-color: #41994d;
  --resume-color: #ebf261;
}

body {
  font-family: "M PLUS 1 Code", Roboto, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  padding-top: 50px;
}
h3 {
  text-align: center;
  color: var(--hover-color);
}

h4 {
  text-align: center;
  color: var(--resume-color);
}

h5 {
  text-align: center;
  text-decoration: underline;
}

.resume-text {
  text-align: center;
}

.nav-item:hover {
  background-color: var(--hover-color);
}

/* Resume Customizations */

.resume-buttons {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
}

.resume-buttons:hover {
  background-color: var(--hover-color);
}
/* Navbar Icons */

.material-icons {
  font-size: 20px;
}

/* Navbar Toggler customization */
